language: node_js
node_js:
  - "9"
  - "8"
  - "7"
before_install:  
  - npm install -g npm
  - npm install -g codecov
before_script:
  - npm run build
script: 
  - npm run test
cache:
  directories:
    - "node_modules"
after_success: 
  - npm run coveralls
  - npm run codecov
notifications:
  email: false